.container {
  display: flex;
  gap: 1rem;
}

.container__titleContainer {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.container__titleContainer__title {
  display: inline-block;
  white-space: nowrap;
}

.container__titleContainer__icon {
  margin-top: 0.5rem;

  display: inline-block;

  color: white;

  --size: 2.125rem;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  min-height: var(--size);

  font-weight: bold;
  cursor: pointer;
}

.container__titleContainer__title__text {
  margin-left: 0.5rem;
  font-weight: bold;
  color: white;
  font-size: 2.38rem;
}
