.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container__content__item {
  display: flex;

  flex-wrap: wrap;

  margin-left: 0;
  gap: 12px;
}

.container__content__item_title {
  color: #4d4d4d;
  min-width: 100px;
}

.container__content__item_address {
  font-size: 16px;
  color: #fff;
}
@media screen and (min-width: 991px) {
  .container__content__item {
    flex-wrap: nowrap;
  }
}
