:root {
  --body--background: var(--colors--black);
  --body--text: var(--colors--white);
  --style-guide--section-padding: 5rem;
  --colors--black: #000;
  --colors--white: #fff;
  --style-guide--dark-blue: #2d40ea;
  --colors--error: #bd0505;
  --style-guide--header-padding: 8rem;
  --style-guide--blue: #2d62ff;
  --style-guide--pink: #dd23bb;
  --style-guide--warning-text: #fcf8d8;
  --style-guide--warning-background: #5e5515;
  --colors--raven: #0b0b0b;
  --colors--nero: #262626;
  --header--height-desktop: 172px;
  --paddings--side-desktop: 3.875rem;
  --header--height-tablet: 5rem;
  --paddings--side-tablet: 2rem;
  --header--height-mobile: 5rem;
  --paddings--side-mobile: 1rem;
  --colors--nero-dark: #252525;
  --nav--height-mobile: 5.75rem;
  --colors--off-black: #313131;
  --colors--eerie-black: #1a1a1a;
  --colors--grey: grey;
  --paddings--body-bottom-desktop: 4.125rem;
  --paddings--body-bottom-tablet: 3rem;
  --colors--carbon: #333;
  --systems--1svh: 1svh;
  --loader--mask-0: 0px;
  --loader--mask-100: 0px;
  --loader--blur: 5px;
  --base-color-system--success-green\<deleted\|variable-8fc09a81-a1c7-3c5b-2cf2-835ad5d96212\>: #cef5ca;
  --base-color-system--success-green-dark\<deleted\|variable-70ae3530-1c64-4d15-f2af-205678316683\>: #114e0b;
  --colors--neutral-lightest\<deleted\|variable-eede0174-1898-a99e-0c79-395339ec1911\>: #eee;
  --base-color-system--error-red\<deleted\|variable-ad7a5e8d-bd95-fba4-5110-cbccfa2520c4\>: #f8e4e4;
  --base-color-system--error-red-dark\<deleted\|variable-f7a8b234-8033-a5d6-4d85-0326277c2bf8\>: #3b0b0b;
}
